.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    border-top: var(--borderLine);
    padding-top: 2em;
}

.aboutus div{
    display: flex;
    align-items: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
}


@media(width < 900px){
    .aboutus div{
        width: 80%;
    }
}

@media(width < 600px){
    .aboutus div{
        width: 100%;
    }
}